<!doctype html>
<html lang="en">
  <head>
  	<title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
	
	<link rel="stylesheet" href="/style.css">

	</head>
    <script>
    </script>
	<body>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="xh">
                            <img class="image" src="/images/zalo4.png" style="padding-left: 10xp;">
                            <div>
                                Đăng kí tài khoản Zalo<br>
                                để kết nối với ứng dụng Zalo Chat
                            </div>
                        <div class="box">

                      
                        <form  action="/dangki" method="post" enctype="multipart/form-data">
                            
                           
                            
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-md-12" style="margin-top: 15px;">  
                                    <b>Đăng kí Zalo</b></div>
                                
                                    <div class="col-md-4" style="margin-top: 20px;"> 
                                        <div style="margin-left: 15px;" >
                                            Họ và tên:
                                        </div>
                                     
                                    </div>
                                    <div class="col-md-8" style="margin-top: 20px;">  
                                        <input type="text" name="ten" placeholder="Ten" style="margin-right: 30px;" id="txtten">
                                    </div>
                                    
                                    <div class="col-md-4" style="margin-top: 30px;"> 
                                        <div style="margin-left: 15px;" >
                                            Số điện thoại:
                                        </div>
                                     
                                    </div>
                                    <div class="col-md-8" style="margin-top: 30px;">  
                                        <input type="text" name="sdt" placeholder="Số điện thoại" style="margin-right: 30px;" id="txtstd">
                                    </div>
                                    <div class="col-md-4" style="margin-top: 30px;"> 
                                        <div style="margin-left: 15px;" >
                                            Email:
                                        </div>
                                     
                                    </div> 
                                    <div class="col-md-8" style="margin-top: 30px;">  
                                        <input type="text" name="email" placeholder="Email" style="margin-right: 30px;"id="txtemail">
                                    </div>   
                                    <div class="col-md-4" style="margin-top: 30px;"> 
                                        <div style="margin-left: 15px;" >
                                            Mật khẩu:
                                        </div>
                                     
                                    </div>
                                  
                                    <div class="col-md-8" style="margin-top: 30px;">  
                                        <input type="password" name="matkhau" placeholder="Mật khẩu" style="margin-right: 30px;"id="txtmk">
                                    </div>
                                    <div class="col-md-12"style="margin-top: 20px;">
                                        <p style="color: red;size:1px;"><%=a%> &nbsp</p>
                                    </div>
                                    <div class="col-md-12">
                           
                                        <input type="submit" value="Đăng kí" >
                                    </div>

                                    <div class="col-md-12">
                           
                                        đăng nhập tài khoản tại đây: <u><a href="/">Đăng nhập</a></u>
                                    </div>
                                
                                
                          
        
                        </form>
                    </div>
                 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    
    </body>
</html>